@charset "UTF-8";
/* HEADER HEADER HEADER HEADER HEADER HEADER HEADER HEADER HEADER HEADER HEADER */
.header {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  margin-top: 30px; }

div.container-fluid {
  background-color: transparent; }

/* AJUSTAR BOOTSTRAP DROPDOWN */
.navbar-toggler {
  display: flex;
  justify-content: flex-end;
  border: none;
  margin: 0;
  width: auto;
  outline: none; }

.nav-link {
  color: white !important; }

.navbar-toggler, .navbar-toggler:focus, .navbar-toggler:active, .navbar-toggler-icon:focus {
  /* outline: none; */
  /* border: none; */
  box-shadow: none; }

.navbar-toggler-icon {
  background-image: url(../resources/design/dropdown.png); }

.navbar-nav {
  align-items: flex-end; }

header a:hover {
  color: grey !important;
  transition: color 0.3s ease !important; }

.header__img {
  width: 100px;
  margin-top: 15%;
  margin-left: 25%; }

.header a {
  color: black;
  font-size: 12px;
  font-weight: 700; }

/* al panear sobre el texto cambia de color con leve movimiento */
header a:hover {
  color: grey;
  transition: color 0.3s ease; }

/* FIN HEADER FIN HEADER FIN HEADER FIN HEADER FIN HEADER FIN HEADER   */
@media (min-width: 768px) {
  /* HEADER HEADER HEADER HEADER HEADER HEADER HEADER HEADER HEADER HEADER HEADER  -   */
  .header {
    display: flex;
    flex-direction: row;
    /* flex-wrap: nowrap; */
    align-items: flex-start;
    justify-content: space-between; }
  .header__img {
    width: 150px;
    margin-top: 5%;
    margin-bottom: 5%;
    display: flex;
    margin-left: 15px; }
  .header ul {
    display: flex;
    flex-wrap: wrap;
    /* width: 900px; */
    margin-right: 15px; }
  .header li {
    text-indent: 10px; }
  .header a {
    color: black;
    text-decoration: none;
    font-size: 16px;
    font-weight: 700;
    display: flex;
    justify-content: center;
    align-items: center; }
  /* FIN HEADER FIN HEADER FIN HEADER FIN HEADER FIN HEADER FIN HEADER   */ }

/* tamaño logo instagram en social */
.logoinsta {
  width: 15px; }

/* INICIO EL CONTACT ME Y SOCIAL */
.footer__section1 ul {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 45px 45px 0px 45px;
  padding: 0;
  list-style-type: none;
  color: white; }

.footer a {
  color: white;
  text-decoration: none; }

footer a:hover {
  color: grey;
  transition: color 0.3s ease; }

.footheads {
  font-size: 20px;
  font-weight: 400;
  text-decoration: underline;
  color: white; }

.footer__section2 p {
  color: white; }

/* FIN EL CONTACT ME Y SOCIAL */
/* Tamaño boton ir hacia arriba */
footer .botontop {
  width: 30px; }

/* INICIO ALINEAR COPYRIGHT Y BOTON NARANJA TOP */
.footer__section2 {
  margin-top: 15%;
  margin-bottom: 3%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative; }

.botonnaranja {
  position: absolute;
  right: 0;
  margin-right: 15px; }

/* FIN ALINEAR COPYRIGHT Y BOTON NARANJA TOP */
@media (min-width: 768px) {
  /* FOOTER FOOTER FOOTER FOOTER FOOTER */
  .footer__section2 {
    margin-top: 7%;
    margin-bottom: 1%; }
  footer .botontop {
    width: 40px; }
  .copyright {
    font-size: 14px; }
  /* INICIO EL CONTACT ME Y SOCIAL */
  .footer__section1 {
    display: flex;
    justify-content: space-between;
    align-items: flex-start; }
  /* FIN EL CONTACT ME Y SOCIAL */ }

.contact_form {
  width: 280px;
  height: auto;
  margin: 80px auto;
  border-radius: 10px;
  padding-top: 30px;
  padding-bottom: 20px;
  background-color: #e1e1e1;
  padding-left: 30px; }

.contact_form h3 {
  padding-right: 30px; }

input {
  background-color: #fbfbfb;
  width: 228px;
  height: 40px;
  border-radius: 5px;
  border-style: solid;
  border-width: 1px;
  border-color: black;
  margin-top: 10px;
  padding-left: 10px;
  margin-bottom: 20px; }

textarea {
  background-color: #fbfbfb;
  width: 205px;
  height: 150px;
  border-radius: 5px;
  border-style: solid;
  border-width: 1px;
  border-color: black;
  margin-top: 10px;
  padding-left: 10px;
  margin-bottom: 20px;
  padding-top: 15px; }

label {
  display: block;
  float: center; }

button {
  height: 45px;
  padding-left: 5px;
  padding-right: 5px;
  margin-bottom: 20px;
  margin-top: 10px;
  text-transform: uppercase;
  background-color: #fe9220;
  border-radius: 10px;
  width: 225px;
  cursor: pointer; }

button p {
  color: #fff; }

span {
  color: #fe9220; }

.aviso {
  font-size: 13px;
  color: #0e0e0e; }

h3 {
  font-size: 18px;
  padding-bottom: 30px;
  color: #0e0e0e;
  text-align: center; }

p {
  font-size: 14px;
  color: #0e0e0e; }

@media (min-width: 768px) {
  .contact_form {
    width: 460px;
    height: auto;
    margin: 80px auto;
    border-radius: 10px;
    padding-top: 30px;
    padding-bottom: 20px;
    background-color: #e1e1e1;
    padding-left: 30px; }
  input {
    background-color: #fbfbfb;
    width: 408px;
    height: 40px;
    border-radius: 5px;
    border-style: solid;
    border-width: 1px;
    border-color: black;
    margin-top: 10px;
    padding-left: 10px;
    margin-bottom: 20px; }
  textarea {
    background-color: #fbfbfb;
    width: 405px;
    height: 150px;
    border-radius: 5px;
    border-style: solid;
    border-width: 1px;
    border-color: black;
    margin-top: 10px;
    padding-left: 10px;
    margin-bottom: 20px;
    padding-top: 15px; }
  button {
    height: 45px;
    padding-left: 5px;
    padding-right: 5px;
    margin-bottom: 20px;
    margin-top: 10px;
    text-transform: uppercase;
    background-color: #fe9220;
    border-radius: 10px;
    width: 400px;
    cursor: pointer; } }

.aboutcontainer img {
  width: 400px;
  /*   margin-top:10%;
    margin-bottom: 10%; */ }

.aboutcontainer .skully {
  width: 30px;
  margin-top: 50px; }

.aboutcontainer {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center; }

.about1, .about2 {
  display: flex;
  width: 400px;
  line-height: 2;
  text-align: justify; }

.about1 {
  margin-bottom: 25px;
  color: white; }

.about2 {
  margin-top: 20px;
  color: white; }

.about3 {
  display: flex;
  justify-content: right;
  width: 400px;
  line-height: 2;
  text-align: right;
  margin-top: 20px;
  color: white; }

@media (min-width: 768px) {
  .about1, .about2, .about3 {
    width: 50vw;
    font-size: 20px;
    color: white; } }

.skully2 {
  display: block;
  height: 150px;
  margin-left: auto;
  margin-right: auto; }

.skull-a {
  text-decoration: none; }

/* POSICION LOGO Y BOTON HOME */
.home-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -50px;
  margin-left: -50px;
  width: 100px;
  height: 100px; }

.home-container .logohome {
  width: 70vw;
  margin-bottom: 10%; }

.home-container .botonhome {
  width: 10vw; }

/* FIN POSICION LOGO Y BOTON HOME */
#welcome-id {
  text-align: center;
  color: gray;
  font-size: 50px;
  font-weight: 50;
  padding-bottom: 15%;
  /* margin-top: 70vh; */ }

#welcome-id2 {
  margin-top: 120vh; }

/* Posicion Welcome y Botonera home */
.mainposition {
  display: flex;
  flex-direction: column;
  align-items: center; }

.mainposition img {
  height: 75px;
  margin: 15px 0; }

/* CARRUSEL en el INDEX */
#carouselExample {
  margin-top: 15%;
  margin-left: 5%;
  margin-right: 5%;
  margin-bottom: 10%; }

.botoncarrusel {
  width: 35px; }

/* Centrar flechas en carrusel */
.carouselExample, button {
  top: 50% !important; }

@media (min-width: 768px) {
  .home-container .logohome {
    width: 30vw;
    margin-bottom: 10%; }
  .home-container .botonhome {
    width: 4vw; }
  #welcome-id {
    font-size: 70px;
    font-weight: 50;
    padding-bottom: 5%;
    /* margin-top: 70vh; */ }
  #welcome-id2 {
    margin-top: 120vh; }
  /* Posicion Welcome y Botonera home */
  .mainposition {
    display: flex;
    flex-direction: row;
    justify-content: center; }
  .mainposition img {
    height: 105px;
    margin: 15px 15px;
    /* margin: 0px 30px 0px 30px; */ } }

* {
  margin: 0;
  padding: 0; }

body {
  font-family: 'Montserrat', sans-serif;
  background-color: black; }

.main h1 {
  font-size: 50px;
  color: grey;
  font-weight: 50;
  text-align: center;
  margin-top: 5%;
  margin-bottom: 5%; }

/* ORDENAR IMAGENES MAIN CON FLEXBOX */
.flex-container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-evenly; }

/* tamaño de la caja donde va la foto */
.flex-container div {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  overflow: hidden;
  width: 350px;
  height: 250px;
  margin: 15px 0px 0px 15px; }

/* tamaño de la foto dentro de la caja - Altura mayor a altura de caja! */
.imagenes img {
  height: 300px; }

/* PARA REMOVER ESPACIO ENTRE IMAGENES DEBIDO AL QUE TRAEN LOS ENLACES */
.flexcontainer a {
  display: inherit; }

/* ---------------------- MEDIA QUERY PARA PANTALLAS MAS GRANDES ----------------------  */
@media (min-width: 768px) {
  .main h1 {
    font-size: 60px;
    color: grey;
    font-weight: 50;
    text-align: center;
    margin-top: 5%;
    margin-bottom: 5%; } }
