
 /* tamaño logo instagram en social */
 .logoinsta{
    width: 15px;
  }
  
  /* INICIO EL CONTACT ME Y SOCIAL */
  .footer__section1 ul{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 45px 45px 0px 45px;
    padding: 0;
    list-style-type: none;
    color: white;
  }
  .footer a{
    color: white;
    text-decoration: none;  
  }
  footer a:hover {
    color: grey;
    transition: color 0.3s ease;
  }
  .footheads {
    font-size: 20px;
    font-weight:400;
    text-decoration: underline;
    color: white;
  }

  .footer__section2 p{
    color: white;
  }

  /* FIN EL CONTACT ME Y SOCIAL */
  
  
  /* Tamaño boton ir hacia arriba */
  footer .botontop{
    width: 30px;  
  }
  
  
  /* INICIO ALINEAR COPYRIGHT Y BOTON NARANJA TOP */
  .footer__section2{
    margin-top: 15%;  
    margin-bottom: 3%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
  }
  .botonnaranja{
    position: absolute;
    right: 0;
    margin-right: 15px;
  }
  /* FIN ALINEAR COPYRIGHT Y BOTON NARANJA TOP */
  


  @media (min-width:768px){
    /* FOOTER FOOTER FOOTER FOOTER FOOTER */
    .footer__section2{
        margin-top: 7%;
        margin-bottom: 1%;
      }
  
      footer .botontop{
        width: 40px; 
      }
      .copyright{
        font-size: 14px;
      }
  
      /* INICIO EL CONTACT ME Y SOCIAL */
      .footer__section1{
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
      }
      /* FIN EL CONTACT ME Y SOCIAL */

  }