* {
    margin: 0;
    padding: 0;
 }
 
 main{
   min-height: 50vh;
 }

 body{
    font-family: 'Montserrat', sans-serif;
 }
 
 
 .main h1{
   font-size: 50px;
   color: grey;
   font-weight: 50;
   text-align: center;
   margin-top: 5%;
   margin-bottom: 5%;
 }

ul{
   list-style: none;
}
 
 
 
 
 /* ---------------------- MEDIA QUERY PARA PANTALLAS MAS GRANDES ----------------------  */
 
 @media (min-width:768px){
    
         
     .main h1{
       font-size: 60px;
       color: grey;
       font-weight: 50;
       text-align: center;
       margin-top: 5%;
       margin-bottom: 5%;
     }
 

 
         
 
 }
 
 